<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Shipper List</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1>Shipper List</h1>
            <a class="btn btn-success mt-2 mb-3" th:href="@{/shipper/new}">New Shipper</a>
            <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}"></div>

            <form class="form-inline mb-3" method="post" th:action="@{/shipper/search}">
                <input class="form-control mr-2" placeholder="Search" name="searchName" th:value="${searchName}">
                <button class="btn btn-outline-info" type="submit">Search</button>
                <a class="btn btn-outline-danger ml-2" th:href="@{/shipper}">Clear</a>
            </form>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Shipper Name</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="shipper, v : ${shipperList}">
                    <td th:text="${v.index + 1}"></td>
                    <td th:text="${shipper.companyname}"></td>
                    <td th:text="${shipper.phone}"></td>
                    <td><a class="btn btn-info" th:href="@{'/shipper/edit?id=' + ${shipper.shipperid}}">Editar</a></td>
                    <td><a class="btn btn-danger" th:href="@{'/shipper/delete?id=' + ${shipper.shipperid}}">Borrar</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>